################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/consoleshoppen/CopilotIndices/17.12.38.29086
/.vs/consoleshoppen/FileContentIndex
/obj/Debug/net9.0
/obj
